<nav class="nav">
    <img src="/assets/images/logo.svg" alt="logo" class="nav__logo" />
    <ul class="nav__list">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <span class="material-symbols-outlined" id="menu">
        menu
    </span>
</nav>
