<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script defer src="/assets/js/index.js"></script>
        <title>{{ title }}</title>
    </head>
    <body class="page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
        {% include "nav.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>
